<h1>Welcome to my social app!</h1>

<!--

  HELLO AND WELCOME!

  Important: Do just one part at a time!

-->

<!-- Part 1:

  We need a component for showing a social post made by a user. 
  The component should render it's content children (ie "Happy Halloween!" below) with a white 
  background that has a drop shadow on it.

  An example usage looks like this:

  <my-social-post>
    Happy Holidays!
  </my-social-post>
-->











<!-- Part 2:
  Let's add an animation when the component appears on screen using a CSS keyframe animation.
  Today's effect is: 
   * The component should fade in over 2s
-->














<!-- Part 3:

  The social post component is also responsible for showing the user's avatar image.
  We want to pass a user object into the component- it will use this user object to determine
  what avatar to show (and more soon!).

  - Make a type for the User. 
  - A user should have an avatar URL and a display name.

  Here's a sample avatar you can use:   https://gravatar.com/avatar/17cdcfc535a?s=512&d=robohash

-->













<!-- Part 4: 

  We should also show the user's name next to the avatar. Make it look good!
  
-->









<!-- Part 5: 

  The social post component should also show the time when the post was published. 
  Add a Date input and show the date in short format just below the avatar and display name.
  
-->





<!-- 
  Part 6: Stretch goal! 
  Usually a social website shows the time in relative terms, like "5 minutes ago" or "2 days ago".
  Make a component that accepts a date and shows the current relative time, with the full absolute date and time 
  as a tooltip.
-->
